In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.3'

In [4]:
df = pd.read_stata('../data/554-Modulo1116/Capitulo_I_NACIONAL.dta')

In [7]:
df

,ID,CCDD,DEPARTAMENTO,CCPP,PROVINCIA,CCDI,DISTRITO,NO_DISPONE,GPS_LON,GPS_LAT,...,TIPO_VIA,NOM_VIA,NRO_PUERTA,BLOCK,INTERIOR,PISO,MZ,LOTE,KM,REFERENCIA
0,0001,01,AMAZONAS,02,BAGUA,02,ARAMANGO,1.0,"-78,43725","-5,417803",...,Jirón,CEDRON,SN,0,0,1.0,,0,0,A DOS CUADRAS DE LA PLAZA DE ARMAS DE ARAMANGO
1,0002,01,AMAZONAS,02,BAGUA,01,BAGUA,1.0,"-78,436642","-5,610554",...,Jirón,CHACHAPOYAS,SN,,,1.0,,,,ESQUINA JIRONN CHACHAPOYAS CON JIRON TRUJILLO
2,0005-A,01,AMAZONAS,02,BAGUA,05,IMAZA,1.0,"-78,537126","-5,639338",...,Avenida,MARAÑON,SN,0,0,2.0,,0,0,AL FRENTE DE LA PLAZA PRINCIPAL DE IMAZITA
3,0005,01,AMAZONAS,02,BAGUA,05,IMAZA,1.0,"-78,288595","-5,162497",...,Avenida,LAS PALMERAS,SN,0,0,1.0,0,0,0,A MEDIA CUADRA DE LA PLAZA DE ARMAS DE CHIRIACO
4,0008,01,AMAZONAS,02,BAGUA,06,LA PECA,1.0,"-78,533095","-5,6313229",...,Jirón,AYACUCHO,SN,,,1.0,,,,A TRES CUADRAS DEL HOSPITAL II HEROES DEL CENEPA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2607,4204,25,UCAYALI,03,PADRE ABAD,01,PADRE ABAD,1.0,"-75,508787","-9,036991",...,Jirón,ARICA,SN,,,1.0,Q,2,,FRENTE A LA PLAZA DEL MUNICIPIO
2608,4204-A,25,UCAYALI,03,PADRE ABAD,01,PADRE ABAD,1.0,"-75,508272","-9,035854",...,Otro,MALECON RIO NEGRO,SN,,,1.0,,,,EX GIMNACIO OLIMPUS
2609,4205,25,UCAYALI,03,PADRE ABAD,01,PADRE ABAD,1.0,"-75,515672","-9,051781",...,Jirón,LUIS VASQUEZ SUYO,SN,,,1.0,,,,POR LA ENTRADA A PAMPA YURAC
2610,4206,25,UCAYALI,03,PADRE ABAD,01,PADRE ABAD,1.0,"-75,446262","-8,977097",...,Avenida,08 DE ABRIL,SN,,,1.0,,,,POR EL PUENTE A AGUAS BLANCAS
2611,4212,25,UCAYALI,04,PURUS,01,PURUS,1.0,"-70,709565","-9,772091",...,Avenida,PURUS,SN,,,1.0,1,,,DOS CUADRAS DE LA COMISARIA DOBLANDO LADO DERECHO

In [8]:
df.describe()

       NO_DISPONE         PISO
count      2612.0  2612.000000
mean          1.0     1.014165
std           0.0     0.136257
min           1.0     1.000000
25%           1.0     1.000000
50%           1.0     1.000000
75%           1.0     1.000000
max           1.0     4.000000

In [9]:
df.dtypes

ID                object
CCDD              object
DEPARTAMENTO      object
CCPP              object
PROVINCIA         object
CCDI              object
DISTRITO          object
NO_DISPONE       float64
GPS_LON           object
GPS_LAT           object
GPS_ALT           object
TIPO_VIA        category
NOM_VIA           object
NRO_PUERTA        object
BLOCK             object
INTERIOR          object
PISO             float64
MZ                object
LOTE              object
KM                object
REFERENCIA        object
dtype: object

In [11]:
df[['GPS_LON','GPS_LAT']]

         GPS_LON     GPS_LAT
0      -78,43725   -5,417803
1     -78,436642   -5,610554
2     -78,537126   -5,639338
3     -78,288595   -5,162497
4     -78,533095  -5,6313229
...          ...         ...
2607  -75,508787   -9,036991
2608  -75,508272   -9,035854
2609  -75,515672   -9,051781
2610  -75,446262   -8,977097
2611  -70,709565   -9,772091

[2612 rows x 2 columns]

In [ ]:
df_markets =